body {
    font-family:"trebuchet ms",sans-serif;
    
    }
   form {
    background-color:#FAFAFA;
    padding:10px;
    width:100%;
   
    }
    .label{
        text-align: left;
        text-transform: uppercase;
        color: rgb(206, 62, 105);
        
    }
    .pageForm{
        background-color:#FAFAFA;
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    border:1px solid #DF3F3F;
    border-radius: 25px;
    background-color:#FFF3F3;
    text-align: center;
    }
    .ancienlegend {
    color:#DF3F3F;
    font-weight:bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    }
  
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#FFF3F3;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
   input[type=submit] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    }
    button[type=submit]{
        background-color:#D83F3D;
        margin-top: 15px;
    }
    button[type=button]{
        background-color:rgba(223, 78, 76, 0.637);
        font-size: 14px;
        height: 35px;
        width: 70px;
    }

    h2 
{
    color : #cc6633;
    font-variant : small-caps;
    letter-spacing : 0.5em;
    font-size : 120%;
}
img {
    border-radius: 50%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.espacegroup{
  margin-top: 10px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #CD5C5C;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.videpage{
    margin-top: 40%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(192, 17, 69);
}
.stype_button{
    position: absolute;
}