body {
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
    }
   form {
    background-color:#FAFAFA;
    padding:10px;
    width:280px;
    border:1px solid #DF3F3F;
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    border-radius: 25px;
    background-color:#FFF3F3;
    text-align: center;
    }
   legend {
    color:#DF3F3F;
    font-weight:bold
    }
   ion-label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#FFF3F3;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
    input[type=checkbox] {
        background-color:transparent;
        display:block;
        width: 0%;
        }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    }
    button[type=submit]{
        background-color:#D83F3D;
    }
    button[type=button]{
        background-color:#D83F3D;
        font-size: 12px;
    }

    h2 
{
    color : #cc6633;
    font-variant : small-caps;
    letter-spacing : 0.5em;
    font-size : 120%;
}
img {
    border-radius: 50%;
}