<ion-header>
  <ion-navbar *navbar>
    <ion-title>
      Resultat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="resultat">
  <ion-list *ngIf="items">
    <ion-item *ngFor="let ser of items">
      <form *ngIf="ser.title===currentService">
        
        <div *ngFor="let item2 of ser.elements">
          <ion-input *ngIf="item2.type==='edit'" [(ngModel)]="item2.value" [ngModelOptions]="{standalone: true}">{{item2.value}}</ion-input>
          <button ion-button *ngIf="item2.type==='button'" [(ngModel)]="item2.value" [ngModelOptions]="{standalone: true}">{{item2.value}}</button>
          <ion-label *ngIf="item2.type==='label'">{{item2.value}}</ion-label>
          <ion-input *ngIf="item2.type==='radioGroup'" [(ngModel)]="item2.section" [ngModelOptions]="{standalone: true}" 
            name="{{item2.section}}">{{radiovalue}}</ion-input>
          <ion-checkbox *ngIf="item2.type==='switch'" [(ngModel)]="item2.section" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </div>
      </form>
    </ion-item>
    
  </ion-list>


</ion-content>