 <head>
  <link href="assets/form.css" rel="stylesheet">
</head>

<ion-content padding>
  <ion-list *ngIf="items">
    <ion-item *ngFor="let ser of items">
      
        
        <div *ngFor="let item2 of ser">
            <div *ngIf="item2.title== currentService">
            <div *ngFor="let item3 of item2.elements">              
                  
                <span *ngIf="item3.type==='edit'">{{item3.value}}</span>	           
                <span *ngIf="item3.type==='button'" >{{item3.value}}</span>	                        
                <!-- <span *ngIf="item3.type==='label'">{{item3.value}}</span>	                   -->
                <span *ngIf="item3.type==='radioGroup'">{{item3.section}}</span>	                 
                <span *ngIf="item3.type==='switch'">{{item3.value}}</span>
            </div>

            </div>
          </div>

          
    </ion-item>
    
  </ion-list>
</ion-content>